layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane edit="src/main.rs"
        pane {
            pane stacked=true {
                    pane size="10%" command="bash" name="COMPILE AND RELOAD PLUGIN" {
                    args "-c" "watchexec 'cargo build'"
                }
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}  

keybinds {
    shared {
        bind "Alt j" {
            LaunchOrFocusPlugin "file:target/wasm32-wasi/debug/rust-plugin-example.wasm" {
                floating true
                label_alphabet "tn"
            }
        }
    }
}

